<nav>
	<div class="footer navybg">
		<div>
			<ul class="nav-links">
				<li><a href="https://github.com/MrPeeperNumber" target="_blank"><img class="nav-images" src="/images/github.png"></a></li>
				<li><a href="http://www.linkedin.com/in/jakeroberts45" target="_blank"><img class="nav-images" src="/images/linkedin.png"></a></li>
				<li><a href="https://gitlab.com/jakeroberts45" target="_blank"><img class="gitlab-image" src="/images/gitlab.png"></a></li>
			</ul>
		</div>
	</div>
</nav>