<!DOCTYPE html>
<html lang=en>
	<head>
		{% include './includes/head.njk' %}
	</head>
	<body>
		<header>
			{% include './includes/header.njk' %}
		</header>
		<div class="about-me">
			<div>Software Developer and Photographer</div>
		</div>

		<div>
			<ul class="index-page-links">
				<li class="page-link"><a class="link-text" href="/">About Me</a></li>
				<li class="page-link"><a class="link-text" href="/">About this Site</a></li>
				<li class="page-link"><a class="link-text" href="/gallery">Gallery</a></li>
			</ul>
		</div>

	</body>
	<footer>
		{% include './includes/footer.njk' %}
	</footer>
</html>