html {
	height: auto;
}

body {
	height: auto;
	background-color: rgb(209, 209, 209);
}

* {box-sizing: border-box;}

.navybg {
	background-color: #011147;
}

.header-nav {
	height: auto;
}

.header {
	display:flex;
	flex-wrap: wrap;
}

input {color: white;}

textarea {color: white;}

.footer {
	display: flex;
	justify-content: space-around;

}

footer {
	height: 50px;
	width: 100%;
	color: white;
}

/* * * * * * *
 * INDEX CSS *
 * * * * * * */

.about-me {
	display: flex;
	justify-content: center;
	font-size: 250%;
	width: 100%;
}

.index-page-links {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	
	height: 50px;
	width: 100%;

	margin-top: -5px;
}

.page-link {
 font-size: 150%;
 margin-left: 100px;
 margin-right: 100px;
}

.link-text:link {
	color: black;
}

.link-text:visited {
	color: black;
}

.link-text:hover {
	color: black;
}

.link-text:active {
	color:black;
}

/* * * * * * * *
 * GALLERY CSS *
 * * * * * * * */
.nameplate {
	width: 15em;
	
	/* This calc centers the text */
	/* Adjust the 5.7 value to center per*/
	margin-left: calc(50% - 5.7em);
}

.social-links {
	margin-left: auto;
	margin-right: auto;
}

#nameplate {
	font-size: 2.1rem;
}

.nav-images {
	vertical-align: middle;
	height: 40px;
	width: 40px;
}

.gitlab-image {
	vertical-align: middle;
	height: 60px;
	width: 60px;

	margin-left: -25%;
}



/* FlexBox that holds the galleries */
.galleries {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
}

/* Each individual gallery */
.gallery {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 600px; 
	background-color: #011147; 
	color: white; 
	margin: 30px; 
	padding: 1.25em;
	box-shadow: 2px 2px 5px black;
}

.imageProps {
	height: auto;
	width: 100%;
	padding-bottom: 1em;
}
