<!DOCTYPE html>
<html lang=en>
	<head>
		{% include './includes/head.njk' %}
	</head>
	<body>
		<header>
			{% include './includes/header.njk' %}
		</header>
		<div class="title">
			<div><b>Photography Gallery</b></div>
		</div>
		<div>
			<ul class="index-page-links">
				<li class="page-link"><a class="link-text" href="/">About Me</a></li>
				<li class="page-link"><a class="link-text" href="/my-projects">My Projects</a></li>
			</ul>
		</div>

		<div class="galleries">
			{% for gallery in galleries %}
				<div class="gallery">
					<img class="imageProps" src="/images/DSC_9352.JPG"/>
					{{gallery.title}}
				</div>
			{% endfor %}
		</div>
		
		<footer>
			{% include './includes/footer.njk' %}
		</footer>
	</body>
</html>