<!DOCTYPE html>
<html lang=en>
	<head>
		{% include './includes/head.njk' %}
	</head>
	<body>
		<header>
			{% include './includes/header.njk' %}
		</header>
		<div class="title">
			<div><b>Software Developer and Photographer</b></div>
		</div>

		<div>
			<ul class="index-page-links">
				<li class="page-link"><a class="link-text" href="/my-projects">My Projects</a></li>
				<li class="page-link"><a class="link-text" href="/gallery">Photography</a></li>
			</ul>
		</div>

		<div class="about-me">
			<div id="about-me-title">About Me</div>
			<div id="about-me-text">Lorem Ipsum</div>
		</div>

	</body>
	<footer>
		{% include './includes/footer.njk' %}
	</footer>
</html>